body{
    text-align: center;
}
#gameboard{
    width: 600px;
    height: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
}

.snake{
    background-color: black;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.food{
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 30% auto;
}

#dialogeBox{
    border: 1px solid black;
    height: 20px;
    width: 300px;
    position: absolute;
    margin: 9.25rem;
    display: grid;
    padding: 5rem 0;
}

.easy{
    border: 2px solid black;
}
.med{
    border: 1px solid black;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

.hard{
    border: 2px solid red;
}

.selected{
    background-color: lightgrey;
    border-radius: 10%;
}
#timerBox{
    position: absolute;
    width: 88px;
    top: 7%;
    right: 25%;
    display:none
}
#timer{
    font-size: 50px;
}

@media screen and (max-width: 992px) {
    body{
        touch-action: manipulation;
    }
   #gameboard{
    width: 95%;
    height: 500px;
   }
   #dialogeBox{
    width: 200px;
    margin: 5.5em;
    padding: 2rem 0;
   }
   .extras{
    display: none;
   }
   .snake{
    width: 100%;
    height: 1.15em;
   }
   #mobileControls{
    width: fit-content;
    margin: auto;
   }
   .arrow{
    position: relative;
    background: grey;
    width: fit-content;
   }
   .arrow>span{
    font-size: 3em;
   }
   #up{

   }
   #down{

   }
   #left{
    bottom: 6.5em;
    right: 5em;
   }
   #right{
    bottom: 0em;
    left: 5em;
   }
}